<p id="notice"><%= notice %></p>

  <div class="container is-fluid">
    <div class="columns is-multiline">
      <% @people.each do |person| %>
        <div class="column is-one-fifth"
          <figure>
            <%= link_to person_path(person) do %>
            <%= portrait(person) %>
            <% end %>
            <figcaption> <%= link_to person.last_name, person_path(person) %> </figcaption>
          </figure>
        </div>
      <% end %>
    </div>
  </div>
</table>

<br><br><br>

<%= link_to 'New person', new_person_path %>
