<p id="notice"><%= notice %></p>

  <div class="container is-fluid">
    <div class="columns is-multiline">
      <% @movies.each do |movie| %>
        <div class="column is-one-fifth"
          <figure>
            <%= link_to movie_path(movie) do %>
            <%= image_tag movie.picture, :size => "200x120" %>
            <% end %>
            <figcaption> <%= movie.title %> </figcaption>
          </figure>
        </div>
      <% end %>
    </div>
  </div>
</table>

<br><br><br>

<%= link_to 'New Movie', new_movie_path %>
